#squarearea{
    width: 700px;
    height: 300px;
    border: 2px solid black;
    position: relative;
}
.square{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    position: absolute;
}